@model IEnumerable<Prufa3.Models.Entity.Client>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sUsername)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.sTitle)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.sRequestDescription)
        </th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sUsername)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.sTitle)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.sRequestDescription)
            </td>*@
        </tr>
    }
</table>